.x-btn-inner {
  text-overflow: ellipsis; }

.sm-clear {
  background-image: url(../icons/iconCls/sm/wand.png); }

.sm-company {
  background-image: url(../icons/iconCls/sm/building.png); }

.sm-company-add {
  background-image: url(../icons/iconCls/sm/building_add.png); }

.sm-company-edit {
  background-image: url(../icons/iconCls/sm/building_edit.png); }

.sm-company-delete {
  background-image: url(../icons/iconCls/sm/building_delete.png); }

.sm-news {
  background-image: url(../icons/iconCls/sm/feed.png); }

.sm-search {
  background-image: url(../icons/iconCls/sm/find.png); }

#app-header {
  color: #FFF;
  font-size: 22px;
  font-weight: 200;
  padding: 8px 15px; }
